@font-face {
  font-family: "font-gis";
  src: url('../fonts/font-gis.eot');
  src: url('../fonts/font-gis.eot?#iefix') format('eot'),
    url('../fonts/font-gis.woff2') format('woff2'),
    url('../fonts/font-gis.woff') format('woff'),
    url('../fonts/font-gis.ttf') format('truetype'),
    url('../fonts/font-gis.svg#font-gis') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fg-"]:before, [class*="fg-"]:before {
  font-family: "font-gis";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fg-"] {
  display: inline-block;
}
.fg-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fg-2x { font-size: 2em; }
.fg-3x { font-size: 3em; }
.fg-4x { font-size: 4em; }
.fg-5x { font-size: 5em; }
.fg-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.fg-point:before { content: "\ea01"; }
.fg-polyline-pt:before { content: "\ea02"; }
.fg-polygon-pt:before { content: "\ea03"; }
.fg-polygon-hole-pt:before { content: "\ea04"; }
.fg-rectangle-pt:before { content: "\ea05"; }
.fg-square-pt:before { content: "\ea06"; }
.fg-circle-o:before { content: "\ea07"; }
.fg-polyline:before { content: "\ea09"; }
.fg-polygon-o:before { content: "\ea0a"; }
.fg-polygon-hole-o:before { content: "\ea0b"; }
.fg-rectangle-o:before { content: "\ea0c"; }
.fg-square-o:before { content: "\ea0d"; }
.fg-polygon-hole:before { content: "\ea0e"; }
.fg-polygon:before { content: "\ea0f"; }
.fg-rectangle:before { content: "\ea10"; }
.fg-square:before { content: "\ea11"; }
.fg-circle:before { content: "\ea12"; }
.fg-poi:before { content: "\ea16"; }
.fg-poi-alt:before { content: "\ea17"; }
.fg-measure:before { content: "\ea08"; }
.fg-measure-line:before { content: "\ea13"; }
.fg-measure-area:before { content: "\ea14"; }
.fg-measure-area-alt:before { content: "\ea15"; }