/* font-gis - v.1.0.4 
 * Icon font set for use with GIS and spatial analysis tools
 * 2021 (c) Jean-Marc Viglino - OFL-1.1
 * https://github.com/Viglino/font-gis
 */
@font-face {
  font-family: "font-gis";
  src: url('../fonts/font-gis.eot?t=1634903189298');
  src: url('../fonts/font-gis.eot?#iefix') format('eot'),
    url('../fonts/font-gis.woff2?t=1634903189298') format('woff2'),
    url('../fonts/font-gis.woff?t=1634903189298') format('woff'),
    url('../fonts/font-gis.ttf?t=1634903189298') format('truetype'),
    url('../fonts/font-gis.svg#font-gis') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-gis {
  width: 1em;
  height: 1em;
}

[class^="fg-"]:before, [class*="fg-"]:before {
  font-family: "font-gis";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fg-"] {
  display: inline-block;
}
.fg-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fg-2x { font-size: 2em; }
.fg-3x { font-size: 3em; }
.fg-4x { font-size: 4em; }
.fg-5x { font-size: 5em; }
.fg-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.fg-rotate10 {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.fg-rotate-10 {
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.fg-rotate20 {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.fg-rotate-20 {
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.fg-rotate45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fg-rotate90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fg-rotate135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.fg-rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fg-rotate225 {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.fg-rotate270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fg-rotate315 {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.fg-fliph {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fg-flipv {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.fg-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.fg-stack [class^="fg-"] {
  position: absolute;
}

.fg-spin {
  -webkit-animation: fg-spin 2s infinite linear;
  animation: fg-spin 2s infinite linear;
}
.fg-pulse {
  -webkit-animation: fg-spin 1s infinite steps(8);
  animation: fg-spin 1s infinite steps(8);
}

@-webkit-keyframes fg-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fg-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fg-north-arrow:before { content: "\ea8b"; }
.fg-north-arrow-n:before { content: "\ea8c"; }
.fg-compass:before { content: "\ea90"; }
.fg-compass-needle:before { content: "\ea91"; }
.fg-compass-rose:before { content: "\ea92"; }
.fg-compass-rose-n:before { content: "\ea93"; }
.fg-compass-alt:before { content: "\eb06"; }
.fg-compass-alt-o:before { content: "\eb07"; }
.fg-arrow-o:before { content: "\ea3a"; }
.fg-arrow:before { content: "\ea3b"; }
.fg-modify-line:before { content: "\ea3c"; }
.fg-modify-poly:before { content: "\ea3d"; }
.fg-modify-poly-o:before { content: "\ea40"; }
.fg-copy-point:before { content: "\ea4f"; }
.fg-copy-line:before { content: "\ea50"; }
.fg-copy-poly:before { content: "\ea51"; }
.fg-buffer:before { content: "\ea6e"; }
.fg-difference:before { content: "\ea6f"; }
.fg-intersection:before { content: "\ea70"; }
.fg-union:before { content: "\ea71"; }
.fg-sym-difference:before { content: "\ea72"; }
.fg-move:before { content: "\ea73"; }
.fg-move-alt:before { content: "\ea74"; }
.fg-offset:before { content: "\ea75"; }
.fg-snap:before { content: "\ea76"; }
.fg-split:before { content: "\ea77"; }
.fg-split-line:before { content: "\ea78"; }
.fg-split-polygon:before { content: "\ea79"; }
.fg-convex-hull:before { content: "\eaa8"; }
.fg-select-extent:before { content: "\eaad"; }
.fg-snap-ortho:before { content: "\eaae"; }
.fg-color:before { content: "\eaaf"; }
.fg-rotate:before { content: "\eae3"; }
.fg-flip-h:before { content: "\eae4"; }
.fg-flip-v:before { content: "\eae5"; }
.fg-simplify:before { content: "\eae6"; }
.fg-proj-point:before { content: "\eae7"; }
.fg-scale-poly:before { content: "\eae8"; }
.fg-skeletonize:before { content: "\eb17"; }
.fg-dilatation:before { content: "\eb18"; }
.fg-erosion:before { content: "\eb19"; }
.fg-translate:before { content: "\eb26"; }
.fg-translate-x:before { content: "\eb27"; }
.fg-translate-y:before { content: "\eb28"; }
.fg-gpx-file:before { content: "\ea99"; }
.fg-geojson-file:before { content: "\ea9a"; }
.fg-kml-file:before { content: "\ea9b"; }
.fg-wms:before { content: "\ea9c"; }
.fg-wmts:before { content: "\ea9d"; }
.fg-wfs:before { content: "\ea9e"; }
.fg-wfs-t:before { content: "\ea9f"; }
.fg-mvt:before { content: "\eaa0"; }
.fg-xyz:before { content: "\eaa1"; }
.fg-shape-file:before { content: "\eaa2"; }
.fg-esri-json-file:before { content: "\eaa3"; }
.fg-topojson-file:before { content: "\eaa4"; }
.fg-folder-map:before { content: "\eb2f"; }
.fg-world-folder-o:before { content: "\eb30"; }
.fg-world-folder:before { content: "\eb31"; }
.fg-folder-globe:before { content: "\eb32"; }
.fg-folder-globe-o:before { content: "\eb33"; }
.fg-folder-maps:before { content: "\eb34"; }
.fg-folder-poi:before { content: "\eb35"; }
.fg-folder-poi-o:before { content: "\eb36"; }
.fg-folder-pois:before { content: "\eb37"; }
.fg-earth-net:before { content: "\eb38"; }
.fg-earth-net-o:before { content: "\eb39"; }
.fg-earth:before { content: "\ea22"; }
.fg-earth-euro-africa:before { content: "\ea23"; }
.fg-earth-atlantic:before { content: "\ea24"; }
.fg-earth-america:before { content: "\ea25"; }
.fg-earth-pacific:before { content: "\ea26"; }
.fg-earth-australia:before { content: "\ea27"; }
.fg-earth-asia:before { content: "\ea28"; }
.fg-earth-north:before { content: "\ea29"; }
.fg-earth-south:before { content: "\ea2a"; }
.fg-earth-o:before { content: "\ea2b"; }
.fg-earth-euro-africa-o:before { content: "\ea2c"; }
.fg-earth-atlantic-o:before { content: "\ea2d"; }
.fg-earth-america-o:before { content: "\ea2e"; }
.fg-earth-pacific-o:before { content: "\ea2f"; }
.fg-earth-australia-o:before { content: "\ea30"; }
.fg-earth-asia-o:before { content: "\ea31"; }
.fg-earth-north-o:before { content: "\ea32"; }
.fg-earth-south-o:before { content: "\ea33"; }
.fg-globe:before { content: "\ea36"; }
.fg-globe-o:before { content: "\ea37"; }
.fg-globe-alt:before { content: "\ea38"; }
.fg-globe-alt-o:before { content: "\ea39"; }
.fg-globe-poi:before { content: "\ea82"; }
.fg-network:before { content: "\eabb"; }
.fg-network-o:before { content: "\eabc"; }
.fg-tag:before { content: "\eac1"; }
.fg-tag-o:before { content: "\eac2"; }
.fg-tags:before { content: "\eac3"; }
.fg-tags-o:before { content: "\eac4"; }
.fg-earth-gear:before { content: "\ead5"; }
.fg-globe-earth:before { content: "\eaf8"; }
.fg-globe-earth-alt:before { content: "\eaf9"; }
.fg-globe-favorite:before { content: "\eafb"; }
.fg-globe-options:before { content: "\eafc"; }
.fg-globe-share:before { content: "\eafd"; }
.fg-globe-star:before { content: "\eafe"; }
.fg-globe-smiley:before { content: "\eaff"; }
.fg-globe-user:before { content: "\eb0c"; }
.fg-globe-users:before { content: "\eb0d"; }
.fg-globe-shield:before { content: "\eb0e"; }
.fg-earth-network:before { content: "\eb0f"; }
.fg-earth-network-o:before { content: "\eb10"; }
.fg-globe-gear:before { content: "\eb11"; }
.fg-point:before { content: "\ea01"; }
.fg-polyline-pt:before { content: "\ea02"; }
.fg-polygon-pt:before { content: "\ea03"; }
.fg-polygon-hole-pt:before { content: "\ea04"; }
.fg-rectangle-pt:before { content: "\ea05"; }
.fg-square-pt:before { content: "\ea06"; }
.fg-circle-o:before { content: "\ea07"; }
.fg-polyline:before { content: "\ea09"; }
.fg-polygon-o:before { content: "\ea0a"; }
.fg-polygon-hole-o:before { content: "\ea0b"; }
.fg-rectangle-o:before { content: "\ea0c"; }
.fg-square-o:before { content: "\ea0d"; }
.fg-polygon-hole:before { content: "\ea0e"; }
.fg-polygon:before { content: "\ea0f"; }
.fg-rectangle:before { content: "\ea10"; }
.fg-square:before { content: "\ea11"; }
.fg-circle:before { content: "\ea12"; }
.fg-multipoint:before { content: "\ea52"; }
.fg-bbox-alt:before { content: "\eaa9"; }
.fg-extent-alt:before { content: "\eaaa"; }
.fg-bbox:before { content: "\eaab"; }
.fg-extent:before { content: "\eaac"; }
.fg-map-extent:before { content: "\eab0"; }
.fg-regular-shape-pt:before { content: "\eaeb"; }
.fg-regular-shape-o:before { content: "\eaec"; }
.fg-regular-shape:before { content: "\eaed"; }
.fg-layer:before { content: "\ea41"; }
.fg-layer-o:before { content: "\ea42"; }
.fg-layers:before { content: "\ea43"; }
.fg-layers-o:before { content: "\ea44"; }
.fg-layer-up:before { content: "\ea45"; }
.fg-layer-down:before { content: "\ea46"; }
.fg-layer-alt:before { content: "\ea47"; }
.fg-layer-alt-o:before { content: "\ea48"; }
.fg-layer-stack:before { content: "\ea49"; }
.fg-layer-stack-o:before { content: "\ea4a"; }
.fg-layer-add:before { content: "\ea4b"; }
.fg-layer-add-o:before { content: "\ea4c"; }
.fg-layer-rm:before { content: "\ea4d"; }
.fg-layer-rm-o:before { content: "\ea4e"; }
.fg-layer-poi:before { content: "\ea6a"; }
.fg-layer-download:before { content: "\ea97"; }
.fg-layer-upload:before { content: "\ea98"; }
.fg-layer-road:before { content: "\eaf0"; }
.fg-layer-hydro:before { content: "\eaf1"; }
.fg-layer-landcover:before { content: "\eaf2"; }
.fg-layer-contour:before { content: "\eaf3"; }
.fg-layer-stat:before { content: "\eaf4"; }
.fg-layer-stat-alt:before { content: "\eb29"; }
.fg-layer-edit:before { content: "\eb2d"; }
.fg-layer-alt-edit:before { content: "\eb2e"; }
.fg-layer-height:before { content: "\eb41"; }
.fg-layer-2-add-o:before { content: "\eb46"; }
.fg-layer-2-rm-o:before { content: "\eb47"; }
.fg-layer-alt-add-o:before { content: "\eb48"; }
.fg-layer-alt-rm-o:before { content: "\eb49"; }
.fg-layer-alt-x-o:before { content: "\eb4a"; }
.fg-layers-poi:before { content: "\eb4f"; }
.fg-layer-alt-poi:before { content: "\eb50"; }
.fg-map:before { content: "\ea53"; }
.fg-map-o:before { content: "\ea54"; }
.fg-map-poi:before { content: "\ea55"; }
.fg-world-map-alt:before { content: "\ea56"; }
.fg-map-route:before { content: "\ea57"; }
.fg-road-map:before { content: "\ea58"; }
.fg-cadastre-map:before { content: "\ea59"; }
.fg-landcover-map:before { content: "\ea5a"; }
.fg-bus-map:before { content: "\ea5b"; }
.fg-contour-map:before { content: "\ea5c"; }
.fg-hydro-map:before { content: "\ea5d"; }
.fg-world-map:before { content: "\ea68"; }
.fg-pirate-map:before { content: "\ea6b"; }
.fg-story-map:before { content: "\ea6d"; }
.fg-map-book:before { content: "\ea7a"; }
.fg-map-legend:before { content: "\ea85"; }
.fg-map-legend-o:before { content: "\ea86"; }
.fg-map-options:before { content: "\ea94"; }
.fg-map-options-alt:before { content: "\ea95"; }
.fg-map-print:before { content: "\ea96"; }
.fg-world-map-alt-o:before { content: "\eab1"; }
.fg-flow-map:before { content: "\eab2"; }
.fg-map-stat:before { content: "\eab3"; }
.fg-statistic-map:before { content: "\eab4"; }
.fg-voronoi-map:before { content: "\eab7"; }
.fg-triangle-map:before { content: "\eab8"; }
.fg-phone-map:before { content: "\eab9"; }
.fg-hex-map:before { content: "\eaba"; }
.fg-map-bookmark:before { content: "\eabd"; }
.fg-map-tag:before { content: "\eabf"; }
.fg-map-tags:before { content: "\eac0"; }
.fg-compare-map:before { content: "\ead8"; }
.fg-swipe-map-v:before { content: "\ead9"; }
.fg-swipe-map-h:before { content: "\eada"; }
.fg-magnify-map:before { content: "\eadb"; }
.fg-map-share:before { content: "\eae0"; }
.fg-map-send:before { content: "\eae1"; }
.fg-map-share-alt:before { content: "\eae2"; }
.fg-map-add:before { content: "\eae9"; }
.fg-map-rm:before { content: "\eaea"; }
.fg-map-time:before { content: "\eaee"; }
.fg-time-map:before { content: "\eaef"; }
.fg-map-play:before { content: "\eaf5"; }
.fg-map-star:before { content: "\eaf6"; }
.fg-map-favorite:before { content: "\eaf7"; }
.fg-map-smiley:before { content: "\eb00"; }
.fg-map-control:before { content: "\eb02"; }
.fg-map-lock:before { content: "\eb04"; }
.fg-map-unlock:before { content: "\eb05"; }
.fg-weather-map:before { content: "\eb0b"; }
.fg-story-map-o:before { content: "\eb2a"; }
.fg-story-maps:before { content: "\eb2b"; }
.fg-map-edit:before { content: "\eb2c"; }
.fg-height-map:before { content: "\eb40"; }
.fg-map-user:before { content: "\eb4b"; }
.fg-map-users:before { content: "\eb4c"; }
.fg-measure:before { content: "\ea08"; }
.fg-measure-line:before { content: "\ea13"; }
.fg-measure-area:before { content: "\ea14"; }
.fg-measure-area-alt:before { content: "\ea15"; }
.fg-scale:before { content: "\eb01"; }
.fg-azimuth:before { content: "\eb53"; }
.fg-help-larrow:before { content: "\ea3e"; }
.fg-help-rarrow:before { content: "\ea3f"; }
.fg-home:before { content: "\eb14"; }
.fg-satellite:before { content: "\eb3a"; }
.fg-satellite-earth:before { content: "\eb3b"; }
.fg-drone:before { content: "\eb3f"; }
.fg-poi:before { content: "\ea16"; }
.fg-poi-o:before { content: "\ea17"; }
.fg-poi-alt:before { content: "\ea18"; }
.fg-poi-alt-o:before { content: "\ea19"; }
.fg-pin:before { content: "\ea1a"; }
.fg-pushpin:before { content: "\ea1b"; }
.fg-pois:before { content: "\ea1c"; }
.fg-pois-o:before { content: "\ea1d"; }
.fg-poi-favorite:before { content: "\ea1e"; }
.fg-poi-favorite-o:before { content: "\ea1f"; }
.fg-poi-home:before { content: "\ea20"; }
.fg-poi-home-o:before { content: "\ea21"; }
.fg-poi-earth:before { content: "\ea34"; }
.fg-pin-earth:before { content: "\ea35"; }
.fg-pirate-poi:before { content: "\ea6c"; }
.fg-location-poi:before { content: "\ea83"; }
.fg-location-poi-o:before { content: "\ea84"; }
.fg-bookmark-poi:before { content: "\eabe"; }
.fg-bookmark-poi-b:before { content: "\eacf"; }
.fg-poi-map:before { content: "\ead6"; }
.fg-poi-map-o:before { content: "\ead7"; }
.fg-location-man:before { content: "\eb15"; }
.fg-location-man-alt:before { content: "\eb16"; }
.fg-poi-info:before { content: "\eb1c"; }
.fg-poi-info-o:before { content: "\eb1d"; }
.fg-position:before { content: "\eb22"; }
.fg-position-o:before { content: "\eb23"; }
.fg-position-man:before { content: "\eb24"; }
.fg-poi-slash:before { content: "\eb4d"; }
.fg-poi-slash-o:before { content: "\eb4e"; }
.fg-route:before { content: "\ea7b"; }
.fg-route-start:before { content: "\ea7c"; }
.fg-route-end:before { content: "\ea7d"; }
.fg-car:before { content: "\ea7e"; }
.fg-bicycle:before { content: "\ea7f"; }
.fg-pedestrian:before { content: "\ea80"; }
.fg-hiker:before { content: "\ea81"; }
.fg-location-arrow:before { content: "\ea87"; }
.fg-location-arrow-o:before { content: "\ea88"; }
.fg-location:before { content: "\ea89"; }
.fg-location-on:before { content: "\ea8a"; }
.fg-direct:before { content: "\ea8d"; }
.fg-revers:before { content: "\ea8e"; }
.fg-timer:before { content: "\ea8f"; }
.fg-signpost:before { content: "\eab5"; }
.fg-direction:before { content: "\eab6"; }
.fg-flag:before { content: "\eac5"; }
.fg-flag-o:before { content: "\eac6"; }
.fg-flag-start:before { content: "\eac7"; }
.fg-flag-start-o:before { content: "\eac8"; }
.fg-flag-finish:before { content: "\eac9"; }
.fg-flag-b:before { content: "\eaca"; }
.fg-flab-b-o:before { content: "\eacb"; }
.fg-flag-start-b:before { content: "\eacc"; }
.fg-flag-start-b-o:before { content: "\eacd"; }
.fg-flag-finish-b-o:before { content: "\eace"; }
.fg-start:before { content: "\ead0"; }
.fg-start-o:before { content: "\ead1"; }
.fg-step:before { content: "\ead2"; }
.fg-step-o:before { content: "\ead3"; }
.fg-finish:before { content: "\ead4"; }
.fg-directions:before { content: "\eb03"; }
.fg-phone-route:before { content: "\eb08"; }
.fg-phone-route-alt:before { content: "\eb09"; }
.fg-phone-route-alt-r:before { content: "\eb0a"; }
.fg-map-search:before { content: "\ea5e"; }
.fg-search-map:before { content: "\ea5f"; }
.fg-search-poi:before { content: "\ea60"; }
.fg-search-globe:before { content: "\ea61"; }
.fg-search-home:before { content: "\ea62"; }
.fg-search-address:before { content: "\ea63"; }
.fg-search-attribtues:before { content: "\ea64"; }
.fg-search-propertie:before { content: "\ea65"; }
.fg-search-feature:before { content: "\ea66"; }
.fg-search-layer:before { content: "\ea67"; }
.fg-search-country:before { content: "\ea69"; }
.fg-search-globe-alt:before { content: "\eafa"; }
.fg-search-coord:before { content: "\eb12"; }
.fg-search-data:before { content: "\eb13"; }
.fg-zoom-in:before { content: "\eaa5"; }
.fg-zoom-out:before { content: "\eaa6"; }
.fg-full-screen:before { content: "\eaa7"; }
.fg-screen-dub:before { content: "\eadc"; }
.fg-screen-split-h:before { content: "\eadd"; }
.fg-screen-split-v:before { content: "\eade"; }
.fg-screen-mag:before { content: "\eadf"; }
.fg-coord-system:before { content: "\eb1a"; }
.fg-coord-system-3d:before { content: "\eb1b"; }
.fg-coord-system-alt:before { content: "\eb1e"; }
.fg-coord-system-3d-alt:before { content: "\eb1f"; }
.fg-grid:before { content: "\eb20"; }
.fg-cube-3d:before { content: "\eb21"; }
.fg-coord-grid:before { content: "\eb25"; }
.fg-photogrammetry:before { content: "\eb3c"; }
.fg-360:before { content: "\eb3d"; }
.fg-topography:before { content: "\eb3e"; }
.fg-gnss:before { content: "\eb42"; }
.fg-gnss-antenna:before { content: "\eb43"; }
.fg-tacheometer:before { content: "\eb44"; }
.fg-theodolite:before { content: "\eb45"; }
.fg-profile:before { content: "\eb51"; }
.fg-profile-o:before { content: "\eb52"; }
.fg-screen-dub1:before { content: "\eb54"; }
.fg-screen-dub2:before { content: "\eb55"; }
.fg-screen-dub-o:before { content: "\eb56"; }
.fg-screen-mag-o:before { content: "\eb57"; }
.fg-screen-mag-alt:before { content: "\eb58"; }