@font-face {
  font-family: "font-gis";
  src: url('../fonts/font-gis.eot');
  src: url('../fonts/font-gis.eot?#iefix') format('eot'),
    url('../fonts/font-gis.woff2') format('woff2'),
    url('../fonts/font-gis.woff') format('woff'),
    url('../fonts/font-gis.ttf') format('truetype'),
    url('../fonts/font-gis.svg#font-gis') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fg-"]:before, [class*="fg-"]:before {
  font-family: "font-gis";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fg-"] {
  display: inline-block;
}
.fg-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fg-2x { font-size: 2em; }
.fg-3x { font-size: 3em; }
.fg-4x { font-size: 4em; }
.fg-5x { font-size: 5em; }
.fg-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.fg-arrow-o:before { content: "\ea3a"; }
.fg-arrow:before { content: "\ea3b"; }
.fg-modify-line:before { content: "\ea3c"; }
.fg-modify-poly:before { content: "\ea3d"; }
.fg-modify-poly-o:before { content: "\ea40"; }
.fg-point:before { content: "\ea01"; }
.fg-polyline-pt:before { content: "\ea02"; }
.fg-polygon-pt:before { content: "\ea03"; }
.fg-polygon-hole-pt:before { content: "\ea04"; }
.fg-rectangle-pt:before { content: "\ea05"; }
.fg-square-pt:before { content: "\ea06"; }
.fg-circle-o:before { content: "\ea07"; }
.fg-polyline:before { content: "\ea09"; }
.fg-polygon-o:before { content: "\ea0a"; }
.fg-polygon-hole-o:before { content: "\ea0b"; }
.fg-rectangle-o:before { content: "\ea0c"; }
.fg-square-o:before { content: "\ea0d"; }
.fg-polygon-hole:before { content: "\ea0e"; }
.fg-polygon:before { content: "\ea0f"; }
.fg-rectangle:before { content: "\ea10"; }
.fg-square:before { content: "\ea11"; }
.fg-circle:before { content: "\ea12"; }
.fg-earth:before { content: "\ea22"; }
.fg-earth-euro-africa:before { content: "\ea23"; }
.fg-earth-atlantic:before { content: "\ea24"; }
.fg-earth-america:before { content: "\ea25"; }
.fg-earth-pacific:before { content: "\ea26"; }
.fg-earth-australia:before { content: "\ea27"; }
.fg-earth-asia:before { content: "\ea28"; }
.fg-earth-north:before { content: "\ea29"; }
.fg-earth-south:before { content: "\ea2a"; }
.fg-earth-o:before { content: "\ea2b"; }
.fg-earth-euro-africa-o:before { content: "\ea2c"; }
.fg-earth-atlantic-o:before { content: "\ea2d"; }
.fg-earth-america-o:before { content: "\ea2e"; }
.fg-earth-pacific-o:before { content: "\ea2f"; }
.fg-earth-australia-o:before { content: "\ea30"; }
.fg-earth-asia-o:before { content: "\ea31"; }
.fg-earth-north-o:before { content: "\ea32"; }
.fg-earth-south-o:before { content: "\ea33"; }
.fg-globe:before { content: "\ea36"; }
.fg-globe-o:before { content: "\ea37"; }
.fg-globe-alt:before { content: "\ea38"; }
.fg-globe-alt-o:before { content: "\ea39"; }
.fg-layer:before { content: "\ea41"; }
.fg-layer-o:before { content: "\ea42"; }
.fg-layers:before { content: "\ea43"; }
.fg-layers-o:before { content: "\ea44"; }
.fg-layer-up:before { content: "\ea45"; }
.fg-layer-down:before { content: "\ea46"; }
.fg-layer-alt:before { content: "\ea47"; }
.fg-layer-alt-o:before { content: "\ea48"; }
.fg-layer-stack:before { content: "\ea49"; }
.fg-layer-stack-o:before { content: "\ea4a"; }
.fg-measure:before { content: "\ea08"; }
.fg-measure-line:before { content: "\ea13"; }
.fg-measure-area:before { content: "\ea14"; }
.fg-measure-area-alt:before { content: "\ea15"; }
.fg-help-larrow:before { content: "\ea3e"; }
.fg-help-rarrow:before { content: "\ea3f"; }
.fg-poi:before { content: "\ea16"; }
.fg-poi-o:before { content: "\ea17"; }
.fg-poi-alt:before { content: "\ea18"; }
.fg-poi-alt-o:before { content: "\ea19"; }
.fg-pin:before { content: "\ea1a"; }
.fg-pushpin:before { content: "\ea1b"; }
.fg-pois:before { content: "\ea1c"; }
.fg-pois-o:before { content: "\ea1d"; }
.fg-poi-favorite:before { content: "\ea1e"; }
.fg-poi-favorite-o:before { content: "\ea1f"; }
.fg-poi-home:before { content: "\ea20"; }
.fg-poi-home-o:before { content: "\ea21"; }
.fg-poi-earth:before { content: "\ea34"; }
.fg-pin-earth:before { content: "\ea35"; }